@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", serif;
    background-color: #282a36;
    color: #f8f8f2;
}

main {
    width: 100%;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

h1 {
    color: #50fa7b;
    text-transform: uppercase;
    text-align: center;
}

h1 span {
    color: #1e90ff;
}


pre {
    background-color: #44475a;
    color: #f8f8f2;
    padding: 15px;
    border-radius: 8px;
    overflow: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1em;
    text-wrap: wrap;
}

.tag {
    color: #ff79c6;
}

.attribute {
    color: #8be9fd;
}

.comment {
    color: #a1aac5;
    font-style: italic;
}

.value {
    color: #f1fa8c;
}
